{% extends '::base.html.twig' %}

{% block head %}
    {{ parent() }}

    <link href="{{ asset('bundles/wellnesscore/css/superlist.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/wellnesscore/css/backend.css') }}" rel="stylesheet" type="text/css">
    {#décallage de 50px sur le body en backend#}
    {#<link href="{{ asset('bundles/wellnesscore/css/sb-admin.css') }}" rel="stylesheet" type="text/css">#}
    <link href="{{ asset('bundles/wellnesscore/css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/wellnesscore/css/main.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/wellnesscore/css/font-awesome.css') }}" rel="stylesheet" type="text/css">

{% endblock %}
{% block title %}
    {{ parent() }} {{ 'Tableau de bord'|trans }}
{% endblock %}

{% block header %}

    <header class="header header-minimal">
        <div class="header-wrapper">
            <div class="container-fluid">
                <div class="header-inner">
                    <div class="header-logo">
                        <a href="index.html">
                            <img src="{{ asset('bundles/wellnesscore/img/logo_bienetre.png') }}" alt="Logo">
                        </a>
                    </div>
                    <!-- /.header-logo -->

                    <div class="header-content">
                        <div class="header-bottom">

                            <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
                                <li>
                                    <a href="{{ path('public_homepage') }}">{{ 'Accueil'|trans }}<i
                                                class="²a"></i></a>
                                </li>

                                <li>
                                    <a href="{{ path('public_provider_list') }}">{{ 'Prestataire'|trans }}<i
                                                class="fa"></i></a>
                                </li>

                                <li>
                                    <a href="{{ path('public_category_list') }}">{{ 'Service '|trans }}<i
                                                class="fa"></i></a>
                                </li>

                                <li>
                                    <a href="{{ path('public_training') }}">{{ 'Stage '|trans }}<i
                                                class="fa"></i></a>
                                </li>

                                <li>
                                    <a href="{{ path('public_promo') }}">{{ 'Promo '|trans }}<i class="fa"></i></a>
                                </li>

                                <li>
                                    <a href="#">{{ 'Langue'|trans }} <i class="fa fa-chevron-down"></i></a>

                                    <ul class="sub-menu">
                                        <li>
                                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">FR
                                            </a></li>
                                        <li>
                                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">EN
                                            </a></li>
                                    </ul>
                                </li>

                                <li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <a href="#">{{ app.user }} <i class="fa fa-chevron-down"></i></a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="{{ path('admin_homepage') }}">{{ 'Tableau de bord'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('fos_user_profile_edit') }}">{{ 'Mon profil'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('fos_user_security_logout') }}">{{ 'Se déconnecter'|trans }}</a>
                                            </li>
                                        </ul>
                                    {% else %}
                                        <a href="#">{{ 'Connexion'|trans }} <i class="fa fa-chevron-down"></i></a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="{{ path('fos_user_security_login') }}">{{ 'Se connecter'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('fos_user_registration_register') }}">{{ 'S inscrire'|trans }}</a>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </li>

                            </ul>

                            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                                    data-target=".header-nav-primary">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>


                            <div class="header-nav-user">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <div class="user-image">
                                            <img src="assets/img/tmp/agent-2.jpg">

                                        </div>
                                        <!-- /.user-image -->

                                    </button>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="user-profile-edit.html">Edit Profile</a></li>
                                        <li><a href="listing-submit.html">Submit Listing</a></li>
                                        <li><a href="change-password.html">Change Password</a></li>
                                    </ul>
                                </div>
                                <!-- /.dropdown -->
                            </div>
                            <!-- /.header-nav-user -->

                        </div>
                        <!-- /.header-bottom -->
                    </div>
                    <!-- /.header-content -->
                </div>
                <!-- /.header-inner -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.header-wrapper -->

        <div class="header-statusbar">
            <div class="header-statusbar-inner">
                <div class="header-statusbar-left">
                    <h1>Dashboard</h1>

                </div>
                <!-- /.header-statusbar-left -->

                <div class="header-statusbar-right">
                    <div class="hidden-xs visible-lg">
                        Navigation:
                        <ul class="breadcrumb">
                            <li><a href="{{ path('admin_homepage') }}">{{ 'Tableau de bord'|trans }}</a></li>
                            {% block breadcrumb %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
                <!-- /.header-statusbar-right -->
            </div>
            <!-- /.header-statusbar-inner -->
        </div>
        <!-- /.header-statusbar -->
    </header><!-- /.header -->

{% endblock %}

{% block main %}


    <div class="main">
        <div class="outer-admin">
            <div class="wrapper-admin">
                <div class="sidebar-secondary-admin">
                    <ul class="menu">
                        <li class="liHome">
                            <a href="{{ path('admin_homepage') }}">
                                <span class="icon"><i class="fa fa-tachometer"></i></span>
                                <span class="title">{{ 'Tableau de bord'|trans }}</span>
                                <span class="subtitle">{{ 'Gestion site'|trans }}</span>
                            </a>
                        </li>
                        <li class="liService">
                            <a href="#">
                                <span class="icon"><i class="fa fa-i-cursor"></i></span>
                                <span class="title">{{ 'Services'|trans }}</span>
                                <span class="subtitle">{{ 'Gérer les catégories de service'|trans }}</span>
                            </a>

                            <ul>
                                <li>
                                    <a href="{{ path('admin_categoryservice_new') }}">{{ 'Ajouter un service'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_categoryservice') }}">{{ 'Liste des services'|trans }}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="liImage">
                            <a href="#">
                                <span class="icon"><i class="fa fa-i-cursor"></i></span>
                                <span class="title">{{ 'Images'|trans }}</span>
                                <span class="subtitle">{{ 'Gérer les images'|trans }}</span>
                            </a>

                            <ul>
                                <li>
                                    <a href="{{ path('admin_image_new') }}">{{ 'Ajouter une image'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_image') }}">{{ 'Liste des images'|trans }}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="liNews">
                            <a href="#">
                                <span class="icon"><i class="fa fa-i-cursor"></i></span>
                                <span class="title">{{ 'News'|trans }}</span>
                                <span class="subtitle">{{ 'Gérer les News'|trans }}</span>
                            </a>

                            <ul>
                                <li>
                                    <a href="{{ path('news_create') }}">{{ 'Ajouter une news'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('news') }}">{{ 'Liste des News'|trans }}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="liUser">
                            <a href="#">
                                <span class="icon"><i class="fa fa-i-cursor"></i></span>
                                <span class="title">{{ 'Utilisateurs'|trans }}</span>
                                <span class="subtitle">{{ 'Gérer les utilisateurs'|trans }}</span>
                            </a>

                            <ul>
                                <li>
                                    <a href="{{ path('admin_user_new') }}">{{ 'Ajouter un utilisateur'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_user') }}">{{ 'Liste des utilisateurs'|trans }}</a>
                                </li>


                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-secondary-admin -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% block titlepadding %}
                        {% endblock %}
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div cclass="table-responsive">

                                    {% block contentadmin %}
                                    {% endblock %}

                                </div>
                            </div>
                            <!-- /.col-lg-12 (nested) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.service-->
            </div>
            <!-- /.wrapper-admin -->
        </div>
        <!-- /.outer-admin -->
    </div>
    <!-- /.main -->

{% endblock %}


{% block footer %}
    <div class="content-admin-footer">
        <div class="container-fluid">
            <div class="content-admin-footer-inner">
                &copy; 2015 All rights reserved. Created by <a href="#">Heyvaert Yohan</a>.
            </div>
            <!-- /.content-admin-footer-inner -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-admin-footer  -->
{% endblock %}

{% block javascript %}
    <!-- /.page-wrapper -->

    <script type="text/javascript" src="{{ asset('bundles/wellnesscore/js/jquery-1.11.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/wellnesscore/js/backend.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/wellnesscore/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/wellnesscore/js/dataTables.bootstrap.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">

        $(document).ready(function () {
            $('#table_responsive').dataTable();

        });

        $('.nav-tabs li ').click(function () {
            $('.table-bordered').dataTable();
        });
    </script>

    {#Ce script plante a son lancement et doit etre placé en dernier#}
    <script type="text/javascript" src="{{ asset('bundles/wellnesscore/js/superlist.js') }}"></script>
{% endblock %}


