{% extends 'WellnessCoreBundle::layout_frontend.html.twig' %}

{% block title %}{{ parent() }} {{ 'accueil'|trans }} {% endblock %}

{% block header %}

    {{ parent() }}
{% endblock %}

{% block main %}

    {{ parent() }}
{% endblock %}

{% block maincontainer %}
    <div class="row">
        <div class="col-sm-5" >
            <h1>{{ 'Nos derniers stages'|trans }}</h1>
            <div class="events">
                {% for stages in listLastStages %}
                    <div class="event-latest">
                                <a href="{{ path('public_news_list') }}"><h2>{{ stages.name  }} {{ stages.provider.name  }}</h2><i class="fa"></i></a>
                        <!-- /.event-content -->
                    </div>
                    <!-- /.event -->
                {% endfor %}
            </div>
            <!-- /.events -->

            <h1>{{ 'Nos dernières promotions'|trans }}</h1>
            <div class="events">
                {% for promotion in listLastPromotions %}
                    <div class="event-latest">
                        <a href="{{ path('public_news_list') }}"><h2>{{ promotion.name  }} {{ promotion.provider.name  }}</h2><i class="fa"></i></a>
                        <!-- /.event-content -->
                    </div>
                    <!-- /.event -->
                {% endfor %}
            </div>
        </div>
        <div id="latestnews" class="col-sm-6">
            <h1>{{ 'Nos dernières news'|trans }}</h1>
            <div class="events">
                {% for news in listLastNews %}
                    <div class="event">

                        <div class="event-date">
                            <span class="day">{{ news.createat|date('d')  }}/{{ news.createat|date('m')  }}</span>
                        </div>
                        <!-- /.event-date -->

                        <div class="event-content">
                            <h2>{{ news.title  }}</h2>

                            <p>{{ news.description[:120]  }}...</p>

                            <div class="event-time"><i class="fa fa-clock-o"></i>{{ news.createat|date('H:i')  }} </div>
                            <!-- /.event-time -->
                        </div>
                        <!-- /.event-content -->


                    </div>
                    <!-- /.event -->
                {% endfor %}

                <li id="newslink">
                    <a href="{{ path('public_news_list') }}">{{ 'Liste complète des news'|trans }}<i class="fa"></i></a>
                </li>


            </div>
            <!-- /.events -->

        </div>
        <!-- /.col-* -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block pave %}

<div class="cards-simple-wrapper">
    <div id="title-index" class="row">
        <div class="line"></div>
        <div class="col-provider">
            <h1>{{ 'Derniers prestataires'|trans }}</h1>
        </div>
        <div class="col-service">
            <h1>{{ 'Service du mois'|trans }}</h1>
        </div>
    </div>

    {% for image in listProvidersWithLogo %}
        <div class="col-md-2-5">
            <div class="card-simple">
                <div class="card-simple-background">
                    <div class="card-content">
                        <h2>
                            <a href="{{ path('public_provider_show', {slug:image.user.slug}) }}">{{ image.user.name }}</a>
                        </h2>

                        <div class="card-simple-actions">
                            <a href="{{ path('public_provider_show', {slug:image.user.slug}) }}"
                               class="fa fa-search"></a>
                        </div>
                        <!-- /.card-simple-actions -->
                    </div>
                    <!-- /.card-simple-content -->

                    <div class="card-simple-label"><img src="{{ asset( image.path ) }}"
                                                        alt="{{ asset(image.alt) }}"></div>

                </div>
                <!-- /.card-simple-background -->
            </div>
            <!-- /.card-simple -->
        </div>
        <!-- /.col-* -->
    {% endfor %}

    {% if monthService != null %}
        <div class="col-md-2-5">
            <div class="card-simple">

                <div class="card-simple-background">
                    <div class="card-content">
                        <h2>
                            <a href="{{ path('public_category_show', {slug:monthService.slug}) }}">{{ monthService.name }}</a>
                        </h2>

                        <div class="card-simple-actions">
                            <a href="{{ path('public_category_show', {slug:monthService.slug}) }}"
                               class="fa fa-search"></a>
                        </div>
                        <!-- /.card-simple-actions -->
                    </div>
                    <!-- /.card-simple-content -->


                    <div class="card-simple-label">
                        <img src="{{ asset( imgMonthService.path ) }}"
                             alt="{{ asset( imgMonthService.alt ) }}">
                    </div>

                </div>
                <!-- /.card-simple-background -->
            </div>
            <!-- /.card-simple -->
        </div>
        <!-- /.col-* -->

    {% endif %}
</div>

    <!-- /.col-* -->
{% endblock %}

{% block javascript %}

    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('bundles/wellnesscore/libraries/bootstrap-sass/javascripts/bootstrap/carousel.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/wellnesscore/libraries/bootstrap-sass/javascripts/bootstrap/transition.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/wellnesscore/js/superlist.js') }}"></script>

{% endblock %}
