{% extends 'WellnessCoreBundle::layout_backend.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_categoryservice') }}">{{ 'Liste services'|trans }}</a></li>
    <li>{{ entity.name }}</li>
{% endblock %}

{% block titlepadding %}
    <h2>{{ 'Service'|trans }} {{ entity.name }}</h2>
{% endblock %}


{% block contentadmin %}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Forward</th>
                <td>{{ entity.forward }}</td>
            </tr>
            <tr>
                <th>Validated</th>
                <td>{{ entity.validated }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_categoryservice') }}">
            <i class="icon-backward"> </i> {{ 'Retour à la liste'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_categoryservice_edit', { 'slug': entity.slug }) }}">
            <i class="icon-edit"> </i> {{ 'Editer'|trans }}
        </a>
    </li>
    {{ form(delete_form) }}
</ul>
{% endblock %}
