{% extends 'WellnessCoreBundle::layout_backend.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_image') }}">{{ 'Liste image'|trans }}</a></li>
    <li>{{ entity.name }}</li>
{% endblock %}

{% block titlepadding %}
    <h2>{{ 'Service'|trans }} {{ entity.name }}</h2>
{% endblock %}


{% block contentadmin %}

<table class="record_properties">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ entity.id }}</td>
    </tr>
    <tr>
        <th>Position</th>
        <td>{{ entity.position }}</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{ entity.type }}</td>
    </tr>
    <tr>
        <th>{{ 'Chemin'|trans }}</th>
        <td>{{ entity.path }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ entity.alt }}</td>
    </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_image') }}">
            <i class="icon-backward"> </i> {{ 'Retour à la liste'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_image_edit', { 'slug': entity.slug }) }}">
            <i class="icon-edit"> </i> {{ 'Editer'|trans }}
        </a>
    </li>
    {{ form(delete_form) }}
    {% endblock %}
