{% extends 'WellnessCoreBundle::layout_frontend.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block title %}{{ parent() }} {{ CurrentPromotion.name }} {% endblock %}

{% block header %}

    {{ parent() }}
{% endblock %}

{% block main %}

    {{ parent() }}
{% endblock %}

{% block maincontainer %}

    <h3 class="page-title">{{ CurrentPromotion.name }}</h3>

    <div class="row">
        <div class="col-md-4 card-row-properties">
            <dl>
                <dd>{{ 'Date de début:'|trans }}</dd><dt>{{ CurrentPromotion.begin|date('Y-m-d') }}</dt>
                <dd>{{ 'Date de fin:'|trans }}</dd><dt>{{ CurrentPromotion.end|date('Y-m-d') }}</dt>
            </dl>
        </div><!-- /.card-row-properties -->

        <div class="col-md-4 card-row-properties">
            <dl>
                <dd>{{ "Date d'affichage: "|trans }}</dd><dt>{{ CurrentPromotion.displayfrom|date('Y-m-d') }}</dt>
                <dd>{{ "Affiché jusqu'au: "|trans }}</dd><dt>{{ CurrentPromotion.displayto|date('Y-m-d') }}</dt>
            </dl>
        </div><!-- /.card-row-properties -->

        <div class="col-md-4 card-row-properties">
        <dl>
            <dd>{{ "Document pdf :"|trans }}</dd><dt>{{ CurrentPromotion.pDfDocument }}</dt>
        </dl>
        </div>
    </div>

    <div class="row">
        <h2>{{ 'Description:'|trans }}</h2>
        <div class="col-md-10 description">
            <p>{{ CurrentPromotion.description|raw }}</p>
        </div>
    </div>
    {#<div class="row">
        <div class="col-md-4 card-row-properties">
            <dl>
                <dd>{{ "Document pdf :"|trans }}</dd><dt>{{ CurrentPromotion.pDfDocument }}</dt>
            </dl>
        </div>
   </div>#}

{% endblock %}

{% block pave %}

<div class="cards-simple-wrapper">

<div id="title-index" class="row">
    <div class="line"></div>
    {% if CurrentPromotion.provider|length == 0 %}
    <div class="col-provider">
        <h1>{{ 'Pas de prestataire lié'|trans }}</h1>
    </div>

    {% else %}
    <div class="col-provider">
        <h1>{{ 'Prestataire lié'|trans }}</h1>
    </div>
    {% endif %}
</div>

{% if CurrentPromotion.provider|length != 0 %}
    <div class="row">
                <div class="col-md-2-5">
                <div class="card-simple">
                    <div class="card-simple-background">
                        <div class="card-content">
                            <h2>
                                <a href="{{ path('public_provider_show', {slug:CurrentPromotion.provider.slug}) }}">{{ CurrentPromotion.provider.name }}</a>
                            </h2>

                            <div class="card-simple-actions">
                                <a href="{{ path('public_provider_show', {slug:CurrentPromotion.provider.slug}) }}"
                                   class="fa fa-search"></a>
                            </div>
                            <!-- /.card-simple-actions -->
                        </div>
                        <!-- /.card-simple-content -->

                       {#<div class="card-simple-label"><img src="{{ asset( image.path ) }}"
                                                            alt="{{ asset(image.description) }}"></div>#}

                    </div>
                    <!-- /.card-simple-background -->
                </div>
                <!-- /.card-simple -->
            </div>
            <!-- /.col-* -->

    {% endif %}
    </div>
{% endblock %}

{% block javascript %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/wellnesscore/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/wellnesscore/js/dataTables.bootstrap.min.js') }}"></script>


    <script type="text/javascript" charset="utf-8">

        $(document).ready(function () {
            $('#table_responsive').dataTable();

        });

        $('.nav-tabs li ').click(function () {
            $('.table-bordered').dataTable();
        });
    </script>

    {#Ce script plante a son lancement et doit etre placé en dernier#}
    <script type="text/javascript" src="{{ asset('bundles/wellnesscore/js/superlist.js') }}"></script>




{% endblock %}