{% extends 'WellnessCoreBundle::layout_frontend.html.twig' %}

{% block head %}
    {{ parent()  }}
    <link rel="stylesheet" href="{{ asset('bundles/wellnesscore/css/login.css') }}" />
{% endblock %}
{% block main %}
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div id="myloginform" class="col-sm-4 col-sm-offset-4">
                            <div class="page-title">
                                <h1>{{ "Connexion"|trans }}</h1>
                            </div>
                            <!-- /.page-title -->

                            <form method="post" action="?">
                                <div class="form-group">

                                    <label for="login-form-name">{{ 'Nom utilisateur'|trans }}</label>
                                    <input type="text" name="_username" value="" required="required"/>
                                    <br/>

                                    <label for="login-form-password">{{ 'Mot de passe'|trans }}</label>
                                    <input type="password" name="_password" required="required"/>
                                    <br/>

                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                    <label for="remember_me">Se souvenir de moi</label>
                                    <br/>

                                    <input type="submit" id="_submit" name="_submit" value="Connexion"/>
                                    <br/>
                                </div>



                                <div class="form-group">
                                    <label for="login-form-name">{{ 'Nom utilisateur'|trans }}</label>
                                    <input type="login-form-name" class="form-control" name="name">

                                    <label for="login-form-password">{{ 'Mot de passe'|trans }}</label>
                                    <input type="password" class="form-control" name="password"
                                           id="login-form-password">
                                </div>
                                <!-- /.form-group -->

                                <button type="submit" class="btn btn-primary pull-right">Login</button>
                            </form>
                            <!-- /.col-sm-4 -->
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.main-inner -->
    </div><!-- /.main -->
{% endblock %}
