{#{% block content %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}#}

{% extends 'layout.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div id="myloginform" class="col-sm-4 col-sm-offset-4">
                            <div class="page-title">
                                <h1>{{ "Connexion"|trans }}</h1>
                            </div>
                            <!-- /.page-title -->

                            <form action="{{ path('fos_user_security_check') }}" method="post">
                                <input type="hidden" name="_csrf_token"
                                       value="3XAxAxfonXs8xYBypsKC1ZuyCe1DN7Au5VmFalLnZbw"/>

                                <label for="username">{{ 'Nom utilisateur'|trans }}r</label>
                                <input type="text" id="username" name="_username" value="" required="required"/>

                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" name="_password" required="required"/>

                               <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                <label for="remember_me">Se souvenir de moi</label>

                                <input type="submit" id="_submit" name="_submit" value="Connexion"/>
                            </div>
                            </form>


                            <!-- /.form-group -->
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.main-inner -->
    </div><!-- /.main -->
{% endblock %}


{% block footer %}
    {{ parent() }}
{% endblock %}
