{% extends 'WellnessCoreBundle::layout_backend.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_news') }}">{{ 'Liste news'|trans }}</a></li>
    <li>{{ entity.title }}</li>
{% endblock %}

{% block titlepadding %}
    <h2>{{ 'Modifier news'|trans }} {{ entity.title }}</h2>
{% endblock %}

{% block contentadmin %}

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>{{ form(delete_form) }}</li>
        <li>
            <a href="{{ path('admin_news') }}">
                <i class="icon-backward"></i> {{ 'Retour à la liste'|trans }}
            </a>
        </li>

    </ul>
{% endblock %}
