{% extends 'WellnessCoreBundle::layout_backend.html.twig' %}

{% block breadcrumb %}
    <li>{{ 'Liste des news'|trans }}</li>
{% endblock %}

{% block titlepadding %}
    <h2>{{ 'Liste des news'|trans }}</h2>
{% endblock %}

{% block contentadmin %}

<table class="table table-striped table-hover records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'Date de création'|trans }}</th>
                <th>{{ 'Titre'|trans }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{% if entity.createat %}{{ entity.createat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.title }}</td>
                <td>
                    <a href="{{ path('admin_news_show', { 'slug': entity.slug }) }}"><i class="icon-book"></i></a>
                    <a href="{{ path('admin_news_edit', { 'slug': entity.slug }) }}"><i class="icon-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_news_new') }}">
                <i class="icon-building">     {{ 'Ajouter'|trans }}</i>
            </a>
        </li>
    </ul>
    {% endblock %}
