{% extends 'WellnessCoreBundle::layout_backend.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_news') }}">{{ 'Liste news'|trans }}</a></li>
    <li>{{ entity.title }}</li>
{% endblock %}

{% block titlepadding %}
    <h2>{{ 'News'|trans }} {{ entity.title }}</h2>
{% endblock %}


{% block contentadmin %}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Titre'|trans }}</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>{{ 'Date de création'|trans }}</th>
                <td>{{ entity.createat|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_news') }}">
            <i class="icon-backward"></i> {{ 'Retour à la liste'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_news_edit', { 'slug': entity.slug }) }}">
            <i class="icon-edit"> </i> {{ 'Editer'|trans }}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
