{% extends 'WellnessCoreBundle::layout_backend.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    <li><a href="#">{{ 'Accueil'|trans }}</a></li>
{% endblock %}
{% block title %}
    {{ parent() }}
{% endblock %}
{% block contentadmin %}
    <div class="content-admin">
        <div class="content-admin-wrapper">
            <div class="content-admin-main">
                <div class="content-admin-main-inner">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="page-title">
                                            <h1>{{ 'Bienvenue'|trans }}</h1>
                                        </div>
                                        <!-- /.page-title -->


                                        <div class="background-white p20 mb50">
                                            <h2 class="page-title"></h2>

                                            <form class="form-horizontal">
                                                <div class="form-group">

                                                </div>



                                            </form>
                                        </div>
                                    </div>
                                    <!-- /.col-* -->

                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.col-* -->
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /.content-admin-main-inner -->
            </div>
            <!-- /.content-admin-main -->
        </div>
        <!-- /.content-admin-wrapper -->
    </div>
    <!-- /.content-admin -->
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}