{% extends 'WellnessCoreBundle::layout_backend.html.twig' %}

{% block breadcrumb %}
    <li><a href="#">{{ entity.slug }}</a></li>
{% endblock %}

{% block titlepadding %}
    <h2>{{ 'Modifier un utilisateur'|trans }}</h2>
{% endblock %}

{% block contentadmin %}
    <h1>User edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            <i class="icon-backward"></i> {{ 'Retour à la liste'|trans }}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
